<div id="flash">
  <% if notice.present? %>
    <%= render "pages/flash_notice" %>
  <% end %>
</div>

<%= render 'layouts/nav' %>

<div id = "output_to_map_from_js" >
  <%= render 'pages/output_to_map' %>
</div>

<!--     <div class="footer" data-turbolinks="false">
      <a href="/contact">Contact Us</a>&nbsp; &nbsp;
      <a href="/faq">Faq</a>
    </div> -->

