<header class="header container-fluid" style="top: 0;">
  <div class="nav-toggle-wrapper">
    <button class="nav-toggle-btn">
					      <span class="line"></span>
      					<span class="line"></span>
					      <span class="line"></span>
				    </button>
  </div>
  <nav class="header__nav">
    <ul class="nav">
      <li class="header__nav__item"><a href="#home" data-ref="home">home</a></li>
      <li class="header__nav__item"><a href="#about" data-ref="about">about</a></li>
      <li class="header__nav__item"><a href="#contact" data-ref="contact">contact</a></li>
    </ul>
  </nav>
  <!-- <ul class="header__social-btns">
    <li>
      <a class="fa fa-facebook" href="#"></a>
    </li>
    <li>
      <a class="fa fa-github" href="https://github.com/eevu" target="_blank"></a>
    </li>
    <li>
      <a class="fa fa-codepen" href="https://codepen.io/eevu" target="_blank"></a>
    </li>
    <li>
      <a class="fa fa-fire" href="https://www.freecodecamp.com/eevu" target="_blank"></a>
    </li>
  </ul> -->
</header>

<main>

  <section id="home" class="main-section">
    <div class="wrapper">
      <p class="home__intro">
        Hi, this is a food crowd app. <br> A place where you can out how crowded a food place is and plan out where to go.
      </p>
      <a href="#about" class="global-button rotated scroll"> try it out </a>
    </div>
  </section>

  <section id="about" class="container main-section">
    <div class="filters row js-dis">
      <h4 class="filters__title"> <i class="fa fa-tags"></i> </h4>
      <ul class="filters__list">
        <li class="filters__label is-active"> all </li>
        <li class="filters__label" data-cat="fcc"> free code camp </li>
        <li class="filters__label" data-cat="personal"> personal projects </li>
      </ul>
    </div>

    <div class="about__project-wrapper row">

      <div class="about__project col-xs-12 col-sm-6 col-lg-4 text-center" data-cat="fcc">
        <a href="" target="_blank" title="view live">
          <div class="about__project__preview">
            <img src="https://eevu.github.io/img/quotes.svg" alt="restaurants">
          </div>
          <div class="about__project__description">
            <div class="info-wrapper">
              <h3 class="about__project__name">Restaurants</h3>
              <!-- <p class="about__project__category"> #free code camp</p> -->
            </div>
          </div>
        </a>
      </div>

      <div class="about__project col-xs-12 col-sm-6 col-lg-4" data-cat="fcc">
        <a href="https://codepen.io/eevu/full/NNQXZg" target="_blank" title="view live">
          <div class="about__project__preview">
            <img src="https://eevu.github.io/img/weather.svg" alt="food centre">
          </div>
          <div class="about__project__description">
            <div class="info-wrapper">
              <h3 class="about__project__name">Food Centre</h3>
              <!-- <p class="about__project__category">#free code camp</p> -->
            </div>
          </div>
        </a>
      </div>


      <div class="about__project col-xs-12 col-sm-6 col-lg-4" data-cat="fcc">
        <a href="https://codepen.io/eevu/full/mEyLPx" target="_blank" title="view live">
          <div class="about__project__preview">
            <img src="https://eevu.github.io/img/wiki.svg" alt="wikipedia viewer">
          </div>
          <div class="about__project__description">
            <div class="info-wrapper">
              <h3 class="about__project__name">Wikipedia Viewer</h3>
              <p class="about__project__category">#free code camp</p>
            </div>
          </div>
        </a>
      </div>

      <div class="text-right">
        <a href="/users/sign_up" button class="global-button"> sign up </a></button>
        <a href="/users/sign_in" button class="global-button"> log in </a></button>
      </div>

      <!-- <div class="about__project col-xs-12 col-sm-6 col-lg-4" data-cat="fcc">
        <a href="#" title="coming soon">
          <div class="about__project__preview">
            <img src="https://eevu.github.io/img/calc.svg" alt="javascript calculator">
          </div>
          <div class="about__project__description">
            <div class="info-wrapper">
              <h3 class="about__project__name">JavaScript Calculator</h3>
              <p class="about__project__category"> #free code camp</p>
            </div>
          </div>
        </a>
      </div> -->

      <!-- <div class="about__project col-xs-12 col-sm-6 col-lg-4" data-cat="personal">
        <a href="#" title="coming soon">
          <div class="about__project__preview">
            <img src="https://eevu.github.io/img/txt.svg" alt="text editor">
          </div>
          <div class="about__project__description">
            <div class="info-wrapper">
              <h3 class="about__project__name">Text Editor</h3>
              <p class="about__project__category">#personal project</p>
            </div>
          </div>
        </a>
      </div> -->

      <!-- <div class="about__project col-xs-12 col-sm-6 col-lg-4" data-cat="personal">
        <a href="https://en.wikipedia.org/wiki/Bacteriophage" target="_blank" title="what's a becteriophage?">
          <div class="about__project__preview">
            <img src="https://eevu.github.io/img/bacteriophage.svg" alt="random placeholder">
          </div>
          <div class="about__project__description">
            <div class="info-wrapper">
              <h3 class="about__project__name"> Bacteriophage </h3>
              <p class="about__project__category">#placeholder</p>
            </div>
          </div>
        </a>
      </div> -->

      <!-- <div class="about__project col-xs-12 col-sm-6 col-lg-4" data-cat="personal">
        <a href="#" title="coming soon">
          <div class="about__project__preview">
            <img src="https://eevu.github.io/img/desktop.svg" alt="random placeholder">
          </div>
          <div class="about__project__description">
            <div class="info-wrapper">
              <h3 class="about__project__name"> Desktop </h3>
              <p class="about__project__category">#placeholder</p>
            </div>
          </div>
        </a>
      </div> -->

      <!-- <div class="about__project col-xs-12 col-sm-6 col-lg-4" data-cat="personal">
        <a href="#" title="coming soon">
          <div class="about__project__preview">
            <img src="https://eevu.github.io/img/laptop.svg" alt="random placeholder">
          </div>
          <div class="about__project__description">
            <div class="info-wrapper">
              <h3 class="about__project__name"> Laptop </h3>
              <p class="about__project__category">#placeholder</p>
            </div>
          </div>
        </a>
      </div> -->

    </div>

  </section>

</main>

<footer class="container">
  <section id="contact" class="row main-section ">
    <div class="col-xs-12 col-md-5 contact-form-wrapper">
      <h2 class="heading"> drop us a line </h2>
      <form class="contact-form">
        <div class="contact-form-el">
          <input type="text" id="name" class="input" required></input>
          <label for="name"> your name </label>
        </div>
        <div class="contact-form-el">
          <input type="email" id="email" class="input" required></input>
          <label for="email"> your e-mail </label>
        </div>
        <div class="contact-form-el">
          <textarea rows="7 " id="message" class="input" required></textarea>
          <label for="message"> your message </label>
        </div>
        <div class="text-right">
          <button type="submit" class="global-button"> send </button>
        </div>
      </form>
    </div>
    <div id="map" class="col-xs-12 col-md-7 "></div>
  </section>

  <section id="credit" class="row">
    <p>
      Built for Alpha Camp by Kelvin, Vincent, and Nicole &copy;2017
    </p>
    <p>
      Map styled with <a href="https://snazzymaps.com" target="_blank" class="credit-link">Snazzy Maps</a>
    </p>
  </section>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
