<!-- <div class="bg" ></div>
<div class="parallax">
  <div class="parallax-group">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer fill"></div>
  </div>
  <div class="content">
    <h1 style="padding-top: 80px;">Crowd App</h1>
    <p>Find out how crowded a food place is</p><br />
    <a class="cool-link" href="/users/sign_up" style="color: white; letter-spacing: 5px;">Sign Up</a>&nbsp;&nbsp;
    <a class="cool-link" href="/users/sign_in" style="color: white; letter-spacing: 5px;">Log In</a>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="social">
    <ul>
      <li class="facebook"></li>
      <li class="twitter"></li>
      <li class="google"></li>
      <li class="instagram"></li>
    </ul>
  </div>
  </div>





</div> -->


<div class="horizontal-parent">

  <div class="horizontal-child">

    <div class="slide">
      <hgroup class="slide-heading">
        <h1>CROWD CLUSTER</h1>
        <h2>Scroll down to scroll right</h2>
      </hgroup>
    </div>

    <figure class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/hand-right.svg" alt="" />
    </figure>

    <div class="slide">
      <hgroup class="slide-heading">
        <h2>Find out the crowd density of food places</h2>
        <div class="content" style="padding-top:30px;">
          <!-- <a class="cool-link" href="/users/sign_up" style="color: white; letter-spacing: 5px;">Sign Up</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="cool-link" href="/users/sign_in" style="color: white; letter-spacing: 5px;">Log In</a> -->
          <a class="cool-link" href="/home" style="color: white; letter-spacing: 5px;">Enter</a>
        </div>
        <div class="social">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <ul>
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
             <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
             <a href="https://github.com/kedanco/crowdapp" style="color: white;"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
             <a href="mailto:someone@example.com" style="color: white;"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
           </ul>
        </div>
      </hgroup>
    </div>

    <!-- <div class="slide">
      <hgroup class="slide-heading">
        <section class="get-in-touch" style="margin-top: 350px;">
   <h2 class="title">Get in touch</h2>
   <form class="contact-form row" style="color: black; background-color: ">
      <div class="form-field col x-50">
         <input id="name" class="input-text js-input" type="text" required>
         <label class="label" for="name">Name</label>
      </div>
      <div class="form-field col x-50">
         <input id="email" class="input-text js-input" type="email" required>
         <label class="label" for="email">E-mail</label>
      </div>
      <div class="form-field col x-100">
         <input id="message" class="input-text js-input" type="text" required>
         <label class="label" for="message">Message</label>
      </div>
      <div class="form-field col x-100 align-center">
         <input class="submit-btn" type="submit" value="Submit">
      </div>
   </form>
</section>
      </hgroup>
    </div> -->

    <figure class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/hand-left.svg" alt="" />
    </figure>






  </div>

</div>
