


<div class="horizontal-parent">

  <div class="horizontal-child">

    <div class="slide">
      <hgroup class="slide-heading">
        <h1>CROWD CLUSTER</h1>
        <h2>Scroll down to scroll right</h2>
      </hgroup>
    </div>

    <figure class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/hand-right.svg" alt="" />
    </figure>

    <div class="slide">
      <hgroup class="slide-heading">
        <h2>Find out the crowd density of food places</h2>
        <div class="content" style="padding-top:30px;">
          <!-- <a class="cool-link" href="/users/sign_up" style="color: white; letter-spacing: 5px;">Sign Up</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="cool-link" href="/users/sign_in" style="color: white; letter-spacing: 5px;">Log In</a> -->
          <a class="cool-link" href="/home" style="color: white; letter-spacing: 5px;" data-turbolinks="false">Enter</a>
        </div>
        <div class="social">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <ul>
             <a href="https://github.com/kedanco/crowdapp" target="_blank" style="color: white;"><i class="fa fa-github-alt fa-3x" aria-hidden="true"></i></a>
             <a href="mailto:someone@example.com" style="color: white;"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
           </ul>
        </div>
      </hgroup>
    </div>


    <figure class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/hand-left.svg" alt="" />
    </figure>






  </div>

</div>
