<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HOME</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown view">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View <span class="caret"></span></a>
          <ul class="dropdown-menu" data-turbolinks="false">
            <li><a id="AreaButton" href="#">Area</a></li>
            <li><a id="DistrictButton" href="#">District</a></li>
            <li><a href="#">Crowded</a></li>
          </ul>
        </li>
        <li class="dropdown area-dropdown-list">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Area <span class="caret"></span></a>
          <ul class="dropdown-menu area-checkbox">
            <li>

              <%= form_tag("/output_to_map", method: :post, remote: true) do %>
              <div class = "checkbox">
                <label for="North">
                </label>
                <input type="checkbox" name="North" value="North">North
              </div>            
              <% end %>

            </li>
            <li>
              <div class = "checkbox">
                <label>
                  <input type="checkbox">South
                </label>
              </div>
            </li>
            <li>
              <div class = "checkbox">
                <label>
                  <input type="checkbox">West
                </label>
              </div>
            </li>             
            <li>
              <div class = "checkbox">
                <label>
                  <input type="checkbox">East
                </label>
              </div>
            </li> 
            <li>
              <div class = "checkbox">
                <label>
                  <input type="checkbox">Central
                </label>
              </div>
            </li>            
          </ul>
        </li>
        <li class="dropdown district-dropdown-list">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">District <span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li>
              <div class = "checkbox">
                <label>
                  <input type="checkbox">Raffles Place, Cecil, Marina, People’s Park
                </label>
              </div>
            </li> 
           <li>
              <div class = "checkbox">
                <label>
                  <input type="checkbox">Anson, Tanjong Pagar
                </label>
              </div>
           </li> 


           
            <%= options_for_select([["Dollar", "$"], ["Kroner", "DKK"]])%>
            <!-- district 01 -->
            <li>
              <a href="#">Raffles Place, Cecil, Marina, People’s Park</a>
            </li>
            <!-- district 02 -->
            <li>
              <a href="#">Anson, Tanjong Pagar</a>
            </li>
            <!-- district 03 -->            
            <li>
              <a href="#">Queenstown, Tiong Bahru</a>
            </li>
             <!-- district 04 -->            
            <li>
              <a href="#">Telok Blangah, Harbourfront</a>
            </li>
             <!-- district 05 -->            
            <li>
              <a href="#">Pasir Panjang, Hong Leong Garden, Clementi New Town</a>
            </li>
             <!-- district 06 -->            
            <li>
              <a href="#">High Street, Beach Road (part)</a>
            </li>
            <!-- district 07 -->            
            <li>
              <a href="#">Middle Road, Golden Mile</a>
            </li>
             <!-- district 08 -->            
            <li>
              <a href="#">Little India</a>
            </li>
             <!-- district 09 -->            
            <li>
              <a href="#">Orchard, Cairnhill, River Valley</a>
            </li>
            <!-- district 10 -->            
            <li>
              <a href="#">Ardmore, Bukit Timah, Holland Road, Tanglin</a>
            </li>            
             <!-- district 11 -->            
            <li>
              <a href="#">Watten Estate, Novena, Thomson</a>
            </li>
             <!-- district 12 -->            
            <li>
              <a href="#">Balestier, Toa Payoh, Serangoon</a>
            </li> 
  



          </ul>
        </li>       
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

        <div class='navbar-form'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" placeholder="<%= Time.now.strftime("%m/%d/%Y %I:00 %p") %>" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
