<link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<nav class="navbar navbar-default" style="z-index: 9999; color: black;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home" data-turbolinks="false">HOME</a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <%= form_tag("/output_to_map", method: :post, class: "output_to_map_from_area", remote: :true, authenticity_token: :true) do %>

      <ul class="nav navbar-nav">

        <li class="navbar-form">
          <input type="text" class="form-control" placeholder="Search" name="search_result">
        </li>

        <li class="dropdown area-dropdown-list" data-turbolinks="false">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Area <span class="caret"></span></a>

          <ul class="dropdown-menu list-area-checkbox">

<!-- , format: :js -->
             <li>
                 <%#= check_box_tag 'area_checkbox', 'north', false, { :onclick => "$('#output_to_map_from_area').submit();" }%>
                 <input type="checkbox" class="area-checkbox" name="area_checkbox[]" value="north">
                 <label for="area_checkbox">North</label>
             </li>
             <li>
                 <input type="checkbox" class="area-checkbox" name="area_checkbox[]" value="south" remote="true">
                 <label for="area_checkbox">South</label>
             </li>

             <li>
                 <input type="checkbox" class="area-checkbox" name="area_checkbox[]" value="east">
                 <label for="area_checkbox">East</label>
             </li>
             <li>
                 <input type="checkbox" class="area-checkbox" name="area_checkbox[]" value="west">
                 <label for="area_checkbox">West</label>
             </li>
             <li>
                 <input type="checkbox" class="area-checkbox" name="area_checkbox[]" value="central">
                 <label for="area_checkbox">Central</label>
             </li>
          </ul>
        </li>

        <li class="navbar-form">
          <div class='input-group date' id='datetimepicker1'>
               <input type='text' class="form-control date-time" name="date_time" placeholder="<%= Time.now.strftime("%d-%m-%Y %I:00 %p") %>"/>
              <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </li>
        <li class="navbar-form">
          <label for="button_for_Crowded" class="btn btn-default crowded"><i class="ionicons ion-ios-people"></i>Crowded</label>
          <input id="button_for_Crowded" type="checkbox" name="crowdlevel[]" value="crowded" class="button_for_CrowdLevel hidden" />

          <label for="button_for_Notcrowded" class="btn btn-default notcrowded"><i class="ionicons ion-ios-person"></i>Not Crowded</label>
          <input id="button_for_Notcrowded" type="checkbox" name="crowdlevel[]" value="not_crowded" class="button_for_CrowdLevel hidden" />
          <button id="submit-area-search-datetime-crowdlevel" type="submit" class="btn btn-default" data-turbolinks="false">Submit</button>
        </li>
      </ul>

      <% end %>
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
