<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HOME</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown view">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Area</a></li>
            <li><a href="#">District</a></li>
            <li><a href="#">Crowded</a></li>
          </ul>
        </li>
        <li class="dropdown area">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Area <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">North</a></li>
            <li><a href="#">South</a></li>
            <li><a href="#">West</a></li>
            <li><a href="#">East</a></li>
            <li><a href="#">Central</a></li>            
          </ul>
        </li>
        <li class="dropdown district">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">District <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- district 01 -->
            <li>
              <a href="#">Raffles Place, Cecil, Marina, People’s Park</a>
            </li>
            <!-- district 02 -->
            <li>
              <a href="#">Anson, Tanjong Pagar</a>
            </li>
            <!-- district 03 -->            
            <li>
              <a href="#">Queenstown, Tiong Bahru</a>
            </li>
             <!-- district 04 -->            
            <li>
              <a href="#">Telok Blangah, Harbourfront</a>
            </li>
             <!-- district 05 -->            
            <li>
              <a href="#">Pasir Panjang, Hong Leong Garden, Clementi New Town</a>
            </li>
             <!-- district 06 -->            
            <li>
              <a href="#">High Street, Beach Road (part)</a>
            </li>
            <!-- district 07 -->            
            <li>
              <a href="#">Middle Road, Golden Mile</a>
            </li>
             <!-- district 08 -->            
            <li>
              <a href="#">Little India</a>
            </li>
             <!-- district 09 -->            
            <li>
              <a href="#">Orchard, Cairnhill, River Valley</a>
            </li>
            <!-- district 10 -->            
            <li>
              <a href="#">Ardmore, Bukit Timah, Holland Road, Tanglin</a>
            </li>            
             <!-- district 11 -->            
            <li>
              <a href="#">Watten Estate, Novena, Thomson</a>
            </li>
             <!-- district 12 -->            
            <li>
              <a href="#">Balestier, Toa Payoh, Serangoon</a>
            </li> 
  
13  34, 35, 36, 37  Macpherson, Braddell
14  38, 39, 40, 41  Geylang, Eunos
15  42, 43, 44, 45  Katong, Joo Chiat, Amber Road
16  46, 47, 48  Bedok, Upper East Coast, Eastwood, Kew Drive
17  49, 50, 81  Loyang, Changi
18  51, 52  Tampines, Pasir Ris
19  53, 54, 55, 82  Serangoon Garden, Hougang, Ponggol
20  56, 57  Bishan, Ang Mo Kio
21  58, 59  Upper Bukit Timah, Clementi Park, Ulu Pandan
22  60, 61, 62, 63, 64  Jurong
23  65, 66, 67, 68  Hillview, Dairy Farm, Bukit Panjang, Choa Chu Kang
24  69, 70, 71  Lim Chu Kang, Tengah
25  72, 73  Kranji, Woodgrove
26  77, 78  Upper Thomson, Springleaf
27  75, 76  Yishun, Sembawang
28  79, 80  Seletar




          </ul>
        </li>       
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>